<div class="seller-menubar bg-light h-100">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("OrderManagement","SellerOrder")">
                Quản lý đơn hàng
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("ProductManagement","SellerProduct")">
                Quản lý sản phẩm
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("ShopProfile","Seller")">
                Quản lý shop
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Dashboard", "SellerDashboard")">
                Thống kê doanh thu
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Chat", new { mode = "seller" })">
                Trợ giúp
            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Home")">
                Quay lại trang người mua 
            </a>
        </li>
    </ul>
</div>